
    <!--Mostrar Persona Elegida-->
    <div *ngIf="vehiculo!=null" class="row">
        <div class="col-lg-3  m-auto">
            <h3><strong>id:</strong> {{vehiculo.id}}</h3>
        </div>
        <div class="col-lg-3  m-auto">
            <h3><strong>Placa:</strong> {{vehiculo.placa}}</h3>
        </div>
    </div>
    <!--Termina Mostrar Persona Elegida-->
    <hr>
    <!--Mostrar Empresa Elegida-->
    <div *ngIf="vehiculo!=null" class="row">
        <div class="col-lg-3  m-auto">
            <h3><strong>Color:</strong> {{vehiculo.color}}</h3>
        </div>
        <div class="col-lg-3  m-auto">
            <h3><strong>Clase:</strong> {{vehiculo.clase}}</h3>
        </div>
    </div>
    <!--Termina Mostrar Empresa Elegida-->