
<div class="card mx-auto p-3 mat-elevation-z8">
    <div *ngIf="propietario123" class="text-align-center text-center">
        <h1>Propietario </h1><span></span>
    </div>
    <div *ngIf="!propietario123" class="text-align-center text-center">
        <h1>Infractor </h1><span></span>
    </div>
    
    <!--Abrir Dialog-->
    <div class="" *ngIf="form">
        <button mat-raised-button (click)="openDialogPropietario()" color="primary" style="float: left;" type="button">
            <a>Escoger Contribuyente</a>
        </button>
    </div>
    <!--Termina abrir Dialog-->

    <!--Mostrar Datos Contribuyente-->
    <app-mostrar-datos-propietario [propietario]="propietario"></app-mostrar-datos-propietario>
    <!--Termina Mostrar Datos Contribuyente-->
</div>