<div class="row">
    <div class="col-lg-10" >
      <h1 style="color:White; font-size:17px">Buscar por ...</h1>
    </div>
    <div class="col-lg-2">
      <button mat-raised-button color="primary" *ngIf="!busqueda" style="position:relative;float:right;" type="button" (click)="iniciarBusqueda()">Iniciar Busqueda</button>
    </div>
</div>
<div class="row" *ngIf="busqueda">
    <div class="col-lg-3 m-auto">
        <mat-form-field  class="col-lg-12" appearance="outline">
            <mat-label for="id" class="col-form-label ">ID</mat-label>
            <input matInput type="number" [(ngModel)]="PersonaBuscar.id"  name="id">
        </mat-form-field>
    </div>
    <div class="col-lg-3 m-auto">
        <mat-form-field  class="col-lg-12" appearance="outline">
            <mat-label for="dni" class="col-form-label ">DNI</mat-label>
            <input matInput type="number" [(ngModel)]="PersonaBuscar.dni"  name="dni">
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field  class="col-lg-12" appearance="outline">
            <mat-label for="nombres" class="col-form-label ">Nombres</mat-label>
            <input matInput type="text" name="nombres" [(ngModel)]="PersonaBuscar.nombres">
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field  class="col-lg-12" appearance="outline">
            <mat-label for="apellidos" class="col-form-label ">Apellidos</mat-label>
            <input matInput type="text" name="apellidos" [(ngModel)]="PersonaBuscar.apellidos">
        </mat-form-field>
    </div>
</div>
<hr *ngIf="busqueda">
<div class="row" *ngIf="busqueda">
    <div class="col-lg-3">
        <mat-form-field  class="col-lg-12" appearance="outline">
            <mat-label for="telefono" class="col-form-label ">Telefono</mat-label>
            <input matInput type="number" name="telefono" [(ngModel)]="PersonaBuscar.telefono">
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field  class="col-lg-12" appearance="outline">
            <mat-label for="correo" class="col-form-label ">Correo</mat-label>
            <input matInput type="text" name="correo" [(ngModel)]="PersonaBuscar.correo">
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field  class="col-lg-12" appearance="outline">
            <mat-label for="direccion" class="col-form-label ">Direccion</mat-label>
            <input matInput type="text" name="direccion" [(ngModel)]="PersonaBuscar.direccion">
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field  class="col-lg-12" appearance="outline">
            <mat-label for="placa" class="col-form-label ">Placa</mat-label>
            <input matInput type="text" name="placa" [(ngModel)]="VehiculoBuscar.placa">
        </mat-form-field>
    </div>
</div>
<div class="row" *ngIf="busqueda">
    <div class="pt-1 m-auto">
        <button mat-raised-button color="primary" (click)="cerrarBusqueda()">Cerrar</button>
    </div>
    <div class="pt-1 m-auto">
        <button mat-raised-button color="primary" (click)="limpiarBusqueda()">Limpiar</button>
    </div>
    <div class="pt-1 m-auto">
        <button mat-raised-button color="primary" (click)="Buscar()">Buscar</button>
    </div>
</div>