<mat-toolbar color="primary" style="padding-top: 120px;-webkit-box-shadow: inset 0px 32px 41px 0px rgba(0,0,0,0.23);
-moz-box-shadow: inset 0px 32px 41px 0px rgba(0,0,0,0.23);
box-shadow: inset 0px 32px 41px 0px rgba(0,0,0,0.23);">
  <span style="margin-top: -55px; padding-left: 42%;">Confirmacion de Papeleta</span>
</mat-toolbar>
<div class="container">
    <div class="mt-4" *ngIf="papeleta">
        <!--Informacion exta-->
        <app-informacion-confirmacion [papeleta]="papeleta"></app-informacion-confirmacion>
        <!--Termina informacion exta-->
    </div>
    <div class="mt-4" >
        <!--Escoger Infractor-->
        <app-propietario
            [form]="form"  
            (propagar)="syncPropietario($event)" 
            [propietario]="papeleta.infractor">
        </app-propietario>
        <!--Termina escoger Infractor-->
    </div>
    <div class="mt-4" >
        <!--Escoger Propietario-->
        <app-propietario
            [form]="form"  
            [propietario123]="propietario123"
            (propagar)="syncPropietario($event)" 
            [propietario]="papeleta.propietario">
        </app-propietario>
        <!--Termina escoger Propietario-->
    </div>
    <div class="mt-4" >
        <!--Escoger Vehiculo-->
        <app-vehiculo
            [form]="form"  
            (propagar)="syncVehiculo($event)" 
            [vehiculo]="papeleta.vehiculo">
        </app-vehiculo>
        <!--Termina escoger Vehiculo-->
    </div>
    <div class="mt-4 mb-4" >
        <!--Escoger Infraccion-->
        <app-infraccion 
            [form]="form" 
            (propagar)="syncInfraccion($event)"    
            [infraccion]="papeleta.infraccion">
        </app-infraccion>
        <!--Termina escoger Infraccion-->
    </div>
</div>
