
<div class="container">
    <div class="mt-4" *ngIf="papeleta">
        <!--Informacion exta-->
        <app-informacion [papeleta]="papeleta"></app-informacion>
        <!--Termina informacion exta-->
    </div>
    <div class="mt-4" >
        <!--Escoger Infractor-->
        <app-contribuyente 
            (propagar)="syncInfractor($event)" 
            (propagar2)="syncLicencia($event)" 
            [infractor]="papeleta.infractor" 
            [licencia]="papeleta.licencia">
        </app-contribuyente>
        <!--Termina escoger Infractor-->
    </div>
    <div class="mt-4" >
        <!--Escoger Infractor-->
        <app-propietario 
            (propagar)="syncPropietario($event)" 
            [propietario]="papeleta.propietario">
        </app-propietario>
        <!--Termina escoger Infractor-->
    </div>
    <div class="mt-4" >
        <!--Escoger Infractor-->
        <app-vehiculo 
            (propagar)="syncVehiculo($event)" 
            [vehiculo]="papeleta.vehiculo">
        </app-vehiculo>
        <!--Termina escoger Infractor-->
    </div>
    <div class="mt-4" >
        <!--Escoger Infractor-->
        <app-infraccion 
            (propagar)="syncInfraccion($event)"    
            [infraccion]="papeleta.infraccion">
        </app-infraccion>
        <!--Termina escoger Infractor-->
    </div>
</div>

<div class="container"> 
    <div class="mt-4 mb-4">
        <div class="card">
            <!--Enviar-->
            <button mat-raised-button color="primary" class="mb-3 m-auto" style="height: 50%; width: 50%;" type="button" (click)="save()">
                <a >Guardar</a>
            </button>
            <!--Termina Enviar-->
        </div>
    </div>
</div>